
<footer class="footer">
  <div class="container">
    <div class="row justify-content-center">
      <div class="footer__social social"><a class="social__item social__item--vk wow rollIn" href="https://vk.com/mikhaylovsky80" target="_blank" data-wow-duration="1s"><i class="fa fa-vk" aria-hidden="true"></i></a><a class="social__item social__item--facebook wow rollIn" href="https://www.facebook.com/profile.php?id=100008224726175&amp;ref=bookmarks" target="_blank" data-wow-duration="1s" data-wow-delay=".1s"><i class="fa fa-facebook" aria-hidden="true"></i></a><a class="social__item social__item--ok wow rollIn" href="https://www.ok.ru/profile/524344028624" target="_blank" data-wow-duration="1s" data-wow-delay=".2s"><i class="fa fa-odnoklassniki" aria-hidden="true"></i></a><a class="social__item social__item--github wow rollIn" href="https://github.com/mikhalich2701" target="_blank" data-wow-duration="1s" data-wow-delay=".3s"><i class="fa fa-github-alt" aria-hidden="true"></i></a></div>
    </div>
    <div class="row justify-content-center">
      <p class="footer__develop wow slideInUp"><i class="fa fa-copyright" aria-hidden="true"></i><span>Portfolio</span> 2018 - Developed by <span>Alexey Mikhailovsky</span></p>
    </div>
  </div>
</footer>