
<header class="header">
  <div class="container-fluid">
    <div class="row d-flex justify-content-lg-between justify-content-md-start align-items-center">
      <div class="header__logo"><a class="logo" href="#"> <img class="img" src="img/logo_v.svg" alt="Логотип"/></a></div>
      <div class="header__btnGuide btnGuide"><span class="btnGuide__content"></span></div>
      <nav class="header__navbar navbar">
        <ul class="navbar__nav navbar__nav--header">
          <li class="navbar__item navbar__item--header"><a class="navbar__link navbar__link--header" href="#about"><span>Обо мне</span></a></li>
          <li class="navbar__item navbar__item--header"><a class="navbar__link navbar__link--header" href="#skills"><span>Навыки</span></a></li>
          <li class="navbar__item navbar__item--header"><a class="navbar__link navbar__link--header" href="#pageproofs"><span>Верстка</span></a></li>
          <li class="navbar__item navbar__item--header"><a class="navbar__link navbar__link--header" href="#work"><span>Портфолио</span></a></li>
          <li class="navbar__item navbar__item--header"><a class="navbar__link navbar__link--header" href="#contact"><span>Контакты</span></a></li>
          <li class="navbar__item navbar__item--header"><a class="navbar__link navbar__link--header" href="#feedback"><span>Заявка</span></a></li>
        </ul>
      </nav>
    </div>
  </div>
</header>