doctype html
html(lang='ru')
	head
		include layout/head.pug
	body
		//HEADER
		include layout/header.pug
		//MAIN
		main.main
			//PROFILE
			include layout/profile.pug
			//ABOUTME
			include layout/aboutme.pug
			//SKILLS
			include layout/skills.pug
			//PAGEPROOFS
			include layout/pageproofs.pug
			//WORKS
			include layout/works.pug
			//CONTACT
			include layout/contact.pug
			//FEEDBACK
			include layout/feedback.pug
		//FOOTER
		include layout/footer.pug
		include layout/scripts.pug



	