section.contact
				.container
					#contact.sectionTitle.wow.slideInUp
						h2#about.sectionTitle__text Контакты
						.sectionTitle__icon
							i.fa.fa-comment(aria-hidden="true")
					.row
						.col-lg-3.col-md-6
							.contactItem.contactItem--hover-bg1
								.contactItem__logo
									i.fa.fa-map-marker(aria-hidden="true")
								h5.contactItem__title Адрес
								p.contactItem__text Russia
								p.contactItem__text Moscow
						.col-lg-3.col-md-6
							.contactItem.contactItem--hover-bg2
								.contactItem__logo
									i.fa.fa-envelope-o(aria-hidden="true")
								h5.contactItem__title Email
								p.contactItem__text
									a.contactItem__link(href="mailto:mikhalich2701@gmail.com") mikhalich2701@gmail.com
								p.contactItem__text
									a.contactItem__link(href="mailto:mikhalich2701@yandex.ru") mikhalich2701@yandex.ru
						.col-lg-3.col-md-6
							.contactItem.contactItem--hover-bg3
								.contactItem__logo
									i.fa.fa-mobile(aria-hidden="true")
								h5.contactItem__title Phone
								p.contactItem__text
									a.contactItem__link(href="tel:+79263636824") +7 (926) 363 68 24 
						.col-lg-3.col-md-6
							.contactItem.contactItem--hover-bg4
								.contactItem__logo
									i.fa.fa-skype(aria-hidden="true")
								h5.contactItem__title Skype
								p.contactItem__text
									a.contactItem__link(href="skype:live:mikhalich2701_1") live:mikhalich2701_1