footer.footer
			.container
				.row.justify-content-center
					.footer__social.social
						a.social__item.social__item--vk.wow.rollIn(href="https://vk.com/mikhaylovsky80" target="_blank" data-wow-duration="1s")
							i.fa.fa-vk(aria-hidden="true")
						a.social__item.social__item--facebook.wow.rollIn(href="https://www.facebook.com/profile.php?id=100008224726175&ref=bookmarks" target="_blank" data-wow-duration="1s" data-wow-delay=".1s")
							i.fa.fa-facebook(aria-hidden="true")
						a.social__item.social__item--ok.wow.rollIn(href="https://www.ok.ru/profile/524344028624" target="_blank" data-wow-duration="1s" data-wow-delay=".2s")
							i.fa.fa-odnoklassniki(aria-hidden="true")
						a.social__item.social__item--github.wow.rollIn(href="https://github.com/mikhalich2701" target="_blank" data-wow-duration="1s" data-wow-delay=".3s")
							i.fa.fa-github-alt(aria-hidden="true")
				.row.justify-content-center
					p.footer__develop.wow.slideInUp
						i.fa.fa-copyright(aria-hidden="true")
						span Portfolio
						|  2018 - Developed by 
						span Alexey Mikhailovsky