header.header
			.container-fluid
				.row.d-flex.justify-content-lg-between.justify-content-md-start.align-items-center
					.header__logo
						a.logo(href="#") 
							img.img(src="img/logo.svg", alt="Логотип")
					.header__btnGuide.btnGuide
						span.btnGuide__content
					nav.header__navbar.navbar
						ul.navbar__nav.navbar__nav--header
							li.navbar__item.navbar__item--header
								a.navbar__link.navbar__link--header(href="#about")
									span Обо мне
							li.navbar__item.navbar__item--header
								a.navbar__link.navbar__link--header(href="#skills")
									span Навыки
							li.navbar__item.navbar__item--header
								a.navbar__link.navbar__link--header(href="#pageproofs")
									span Верстка
							li.navbar__item.navbar__item--header
								a.navbar__link.navbar__link--header(href="#work")
									span Портфолио
							li.navbar__item.navbar__item--header
								a.navbar__link.navbar__link--header(href="#contact")
									span Контакты
							li.navbar__item.navbar__item--header
								a.navbar__link.navbar__link--header(href="#feedback")
									span Заявка