section.pageProofs
				.container
					#pageproofs.sectionTitle.wow.slideInUp
						h2#about.sectionTitle__text Процесс верстки
						.sectionTitle__icon
							i.fa.fa-legal(aria-hidden="true")
					.row
						.col-lg-2.col-md-4.col-sm-6
							.step
								.step__way.step__way--way1
								.step__icon
									i.fa.fa-scissors(aria-hidden="true")
								p.step__name Работа с макетом
						.col-lg-2.col-md-4.col-sm-6.wow.bounceInRight(data-wow-delay=".2s")
							.step
								.step__way.step__way--way2
								p.step__name Верстка контента
								.step__icon
									i.fa.fa-html5(aria-hidden="true")
						.col-lg-2.col-md-4.col-sm-6.wow.bounceInRight(data-wow-delay=".4s")
							.step
								.step__way.step__way--way3
								.step__icon
									i.fa.fa-css3(aria-hidden="true")
								p.step__name Стилизация сайта
						.col-lg-2.col-md-4.col-sm-6.wow.bounceInRight(data-wow-delay=".6s")
							.step
								.step__way.step__way--way4
								p.step__name Адаптивная верстка
								.step__icon
									i.fa.fa-mobile(aria-hidden="true")
						.col-lg-2.col-md-4.col-sm-6.wow.bounceInRight(data-wow-delay=".8s")
							.step
								.step__way.step__way--way5
								.step__icon
									i.fa.fa-internet-explorer(aria-hidden="true")
								p.step__name Проверка в браузерах
						.col-lg-2.col-md-4.col-sm-6.wow.bounceInRight(data-wow-delay="1s")
							.step
								p.step__name Устранение ошибок
								.step__icon
									i.fa.fa-exclamation-triangle(aria-hidden="true")
					.row.justify-content-center
						h3.pageProofs__resurseTitle Что я использую в процессе верстки
						.slider
							.slider__button.slider__button--prev
								i.fa.fa-chevron-left(aria-hidden="true")
							.slider__button.slider__button--next
								i.fa.fa-chevron-right(aria-hidden="true")
							.slider__row
								.slider__item
									img.img(src="img/avocode-logo.jpg" alt="Ресурсы")
								.slider__item
									img.img(src="img/bootstrap-logo.jpg" alt="Ресурсы")
								.slider__item
									img.img(src="img/gulp-logo.jpg" alt="Ресурсы")
								.slider__item
									img.img(src="img/html-logo.jpg" alt="Ресурсы")
								.slider__item
									img.img(src="img/JavaScript.jpg" alt="Ресурсы")
								.slider__item
									img.img(src="img/jquery-logo.jpg" alt="Ресурсы")
								.slider__item
									img.img(src="img/less-logo.jpg" alt="Ресурсы")
								.slider__item
									img.img(src="img/photoshop-logo.jpg" alt="Ресурсы")
								.slider__item
									img.img(src="img/pixel-logo.jpg" alt="Ресурсы")
								.slider__item
									img.img(src="img/sass.jpg" alt="Ресурсы")
								.slider__item
									img.img(src="img/figma.jpg" alt="Ресурсы")
								.slider__item
									img.img(src="img/pug.jpg" alt="Ресурсы")
								.slider__item
									img.img(src="img/smart.jpg" alt="Ресурсы")