section.profile
				.btnScroll
					i.fa.fa-chevron-up(aria-hidden="true")
				.container.d-flex.h-100.justify-content-center.align-items-center
					.row.justify-content-center
						.col-lg-12.col-md-auto
							.profile__info
								h3.profile__subtitle.subtitle.wow.bounceInLeft HTML / CSS / JS
								h1.profile__name.wow.bounceInRight
									| Добрый день
									br
									| я Алексей Михайловский
									br
									span HTML верстальщик