section.skills.paralax
				.container
					#skills.sectionTitle.sectionTitle--white.wow.slideInUp
						h2#about.sectionTitle__text Мои навыки
						.sectionTitle__icon.sectionTitle__icon--white
							i.fa.fa-cog(aria-hidden="true")
					.row
						.col-lg-4.col-md-6
							.skillItem
								h4.skillItem__title.subtitle HTML5/CSS3
								ul.skillItem__list
									li.skillItem__skill
										| Валидный, кроссбраузерный код
									li.skillItem__skill
										| Семантичная верстка
									li.skillItem__skill
										| Структутированный код
									li.skillItem__skill
										| Анимация, hover-эффекты без JS
									li.skillItem__skill
										| PixelPerfect
									li.skillItem__skill
										| Методология БЭМ
						.col-lg-4.col-md-6
							.skillItem
								h4.skillItem__title.subtitle Javascript/JQuery
								ul.skillItem__list
									li.skillItem__skill
										| Свой Javascript/JQuery код
									li.skillItem__skill
										| Настроенные JQuery плагины
									li.skillItem__skill
										| API Карт - Яндекс
									li.skillItem__skill
										| Комментируемый код
						.col-lg-4.col-md-6
							.skillItem
								h4.skillItem__title.subtitle Photoshop/Figma
								ul.skillItem__list
									li.skillItem__skill
										| Нарезка изображений из макета
									li.skillItem__skill
										| Оптимизация изображений для Web
									li.skillItem__skill
										| Экспорт SVG-изображений
									li.skillItem__skill
										| Экспорт стилей для ускоренной верстки
									li.skillItem__skill
										| Создание спрайтов
						.col-lg-4.col-md-6
							.skillItem
								h4.skillItem__title.subtitle Gulp/Pug
								ul.skillItem__list
									li.skillItem__skill
										| Быстрое разворачивание проекта
									li.skillItem__skill
										| Автоматизация процесса верстки
									li.skillItem__skill
										| Компиляция препроцессоров
									li.skillItem__skill
										| Использование шаблонизаторов 
									li.skillItem__skill
										| Минификация файлов
						.col-lg-4.col-md-6
							.skillItem
								h4.skillItem__title.subtitle Bootstrap/Smart-grid
								ul.skillItem__list
									li.skillItem__skill
										| Высокая скорость разработки сайта
									li.skillItem__skill
										| Кроссбраузерность и адаптивность сайта
									li.skillItem__skill
										| Готовые шаблоны элементов сайта
									li.skillItem__skill
										| Оптимизированная навигация
						.col-lg-4.col-md-6
							.skillItem
								h4.skillItem__title.subtitle Less/Sass
								ul.skillItem__list
									li.skillItem__skill
										| Ускоренная стилизация сайта
									li.skillItem__skill
										| Более гибкий код
									li.skillItem__skill
										| Улучшенная логика стилей
									li.skillItem__skill
										| Упрощенный синтаксис
									li.skillItem__skill
										| Вложенность селекторов без ошибок