section.works
				.container
					#work.sectionTitle.sectionTitle--white.wow.slideInUp
						h2#about.sectionTitle__text Портфолио
						.sectionTitle__icon.sectionTitle__icon--white
							i.fa.fa-camera(aria-hidden="true")
					.row.justify-content-center
						nav.worksNav
							ul.worksNav__nav
								li.worksNav__item
									a.button.worksNav__button.filter(data-filter="all") Все работы
								li.worksNav__item
									a.button.worksNav__button.filter(data-filter=".product") Выполненные
								li.worksNav__item
									a.button.worksNav__button.filter(data-filter=".bootstrap") Bootstrap
								li.worksNav__item
									a.button.worksNav__button.filter(data-filter=".smartgrid") Smartgrid
								li.worksNav__item
									a.button.worksNav__button.filter(data-filter=".adaptive") Без фреймворков
					.row
						#contianer.worksBox
							.boxItem.bootstrap.product
								.boxItem__way
									.boxItem__content
										p.boxItem__text Сборщик Gulp. Адаптив на bootstrap.Многостраничник. Сданный проект
										a.button.boxItem__button(href="https://mikhalich2701.github.io/gmg/" target="_blank") Посмотреть
								img.boxItem__img(src="img/gmg.jpg" alt="Сайт")
							.boxItem.bootstrap
								.boxItem__way
									.boxItem__content
										p.boxItem__text Сборщик Gulp. Адаптив на bootstrap
										a.button.boxItem__button(href="https://mikhalich2701.github.io/introdiz/" target="_blank") Посмотреть
								img.boxItem__img(src="img/introdiz.jpg" alt="Сайт")
							.boxItem.bootstrap
								.boxItem__way
									.boxItem__content
										p.boxItem__text Мой сайт. SVG-вариант
										a.button.boxItem__button(href="http://mikhalich.su/newfolio/" target="_blank") Посмотреть
								img.boxItem__img(src="img/newfolio.png" alt="Сайт")
							.boxItem.bootstrap.product
								.boxItem__way
									.boxItem__content
										p.boxItem__text Сборщик Gulp. Адаптив на bootstrap.Многостраничник. Сданный проект
										a.button.boxItem__button(href="http://mikhalich.su/ido/" target="_blank") Посмотреть
								img.boxItem__img(src="img/ido.png" alt="Сайт")
							.boxItem.bootstrap.product
								.boxItem__way
									.boxItem__content
										p.boxItem__text Сборщик Gulp. Адаптив на bootstrap. Сданный проект
										a.button.boxItem__button(href="http://mikhalich.su/bigwin/" target="_blank") Посмотреть
								img.boxItem__img(src="img/bigwin.png" alt="Сайт")
							.boxItem.adaptive
								.boxItem__way
									.boxItem__content
										p.boxItem__text Сайт с чистым js и адаптивом без фреймворков
										a.button.boxItem__button(href="https://mikhalich2701.github.io/topclass/" target="_blank") Посмотреть
								img.boxItem__img(src="img/topclass.jpg" alt="Сайт")
							.boxItem.smartgrid
								.boxItem__way
									.boxItem__content
										p.boxItem__text Сборщик Gulp. Адаптив на smartgrid. Многостраничник.
										a.button.boxItem__button(href="https://mikhalich2701.github.io/socialagency/" target="_blank") Посмотреть
								img.boxItem__img(src="img/social.jpg" alt="Сайт")
							.boxItem.bootstrap.product
								.boxItem__way
									.boxItem__content
										p.boxItem__text Сборщик Gulp. Адаптив на bootstrap.Многостраничник. Сданный проект
										a.button.boxItem__button(href="http://mikhalich.su/nano/" target="_blank") Посмотреть
								img.boxItem__img(src="img/nano.png" alt="Сайт")