/*=======================PROFILE======================*/

.profile
	display: flex
	justify-content: center
	align-items: center
	position: relative
	width: 100%
	height: 100vh
	background: #000
	//background: url('../img/bg.jpg') 50% 0 no-repeat
	background-size: cover
	background-attachment: fixed
	&:before
		position: absolute
		content: ""
		width: 100%
		height: 100%
		left: 0
		top: 0
		//background: radial-gradient(ellipse at center, rgba(#9e9e9e, .9) 0%,rgba(#9e9e9e, .7) 0%,
		//rgba(#424242, .9) 52%,rgba(#000, .9) 100%), url('../img/pattern.png')
	&__img
		position: absolute
		display: flex
		justify-content: center
		align-items: center
		width: 50%
		height: 100%
		right: 0
		top: 0
		& img
			display: block
			width: auto
			height: 80%
	&__info
		width: 90%	
		//text-align: center
	&__subtitle
		margin-bottom: 50px	
		color: #46B6A0			
		text-transform: uppercase
		font-family: 'GalanoGrotesque'
		font-weight: bold						
	&__name
		color: #fff
		line-height: 75px
		font-family: 'GalanoGrotesque'
		font-weight: 900
		& span
			color: #46B6A0
			font-size: 36px
	+r(992)
		&__specialization
			margin-bottom: 50px
			font-size: 25px
		&__name
			font-size: 40px
			line-height: 50px
			& span
				font-size: 30px
	+r(480)
		&__specialization
			font-size: 15px
		&__name
			font-size: 25px
			line-height: 30px
			& span
				font-size: 20px